{% extends "layout.html" %}

{% block head %}
    <link href="/static/styles/index.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <span class="pb-3 d-inline-block section-header">Live channels we think you'll like</span>

    <div class="row">
        {% for stream in streams %}
            <div class="col-md-3 d-flex justify-content-center mb-3">
                <div class="card stream-card">
                    {% if stream["img"] %}
                        <img src='{{ stream["img"] }}' class="card-img-top" alt="Stream picture">
                    {% else %}
                        <img src="/static/images/defaultStreamBG.jpeg" class="card-img-top" alt="Stream picture">
                    {% endif %}
                    <div class="card-body">
                        <a href="#" class="stretched-link d-inline-block pt-1">{{ stream["name"] }}</a>
                        <p class="card-text">{{ stream["description"] }}</p>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}