{% extends "layout.html" %}

{% block head %}
    <link href="/static/styles/start-streaming.css" rel="stylesheet">
    <link href="/static/styles/chat.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row h-100">
        <div class="col p-0">
            {% if is_live %}
                <div class="alerady-live-container">
                    <span class="already-live">This stream is already LIVE</span>
                    <span class="help-text">But you can stream on one of available channels:</span>
                    {% for stream in streams %}
                        {% if not stream["isLive"] %}
                            <a class="available-channel" href="/start-streaming/{{ stream['id'] }}">{{ stream["channelName"] }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="webcam-video-container {{ 'd-none' if is_live }}">
                <video id="webcamVideo" class="webcam-video" autoplay>
                    Your browser does not support the video tag.
                </video>

                <div class="stream-controls p-3">
                    <div class="stream-controls__left">
                        <button id="startStream" type="button" class="btn btn-primary-custom">
                            Start Stream
                        </button>
            
                        <button id="endStream" type="button" class="btn d-none btn-primary-custom">
                            End Stream
                        </button>
                    </div>

                    <span id="channelName" class="channel-name">{{ channel_name }}</span>
                    
                    <div class="stream-controls__right view-count-outer me-3">
                        <i class="fa-regular fa-eye"></i>
                        <span id="viewsCount">0</span>
                    </div>
                </div>
            </div>
        </div>
        {% include "chat.html" %}
    </div>
    
{% endblock %}

{% block scripts %}
    <script src='{{ url_for("static", filename="js/helpers.js") }}'></script>
    <!-- <script src='{{ url_for("static", filename="js/stream/broadcast-sockets.js") }}'></script> -->
    <script src='{{ url_for("static", filename="js/stream/broadcast-webrtc.js") }}'></script>

    <script src='{{ url_for("static", filename="js/chat.js") }}'></script>
{% endblock %}