{% extends "layout.html" %}

{% block head %}
    <link href="/static/styles/stream.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row h-100">
        <div class="col-lg-9 p-0">
            <video id="stream" class="stream" autoplay muted controls>
                Your browser does not support the video tag.
            </video>
            <div class="stream-data d-flex align-items-center p-2 pt-3">
                <div class="stream-data__bg-avatar">
                    <img src='{{ url_for("static", filename="images/defaultAvatar.jpeg") }}' alt="Avatar" class="stream-data__avatar">
                </div>
                
                <div>
                    <span class="stream-data__name">{{ stream["name"] }}</span>
                    <span class="stream-data__description">{{ stream["description"] }}</span>
                    <span class="stream-data__game">{{ stream["game"] }}</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 d-none d-lg-flex overflow-scroll p-0 semi-dark-pannel chat">
            <div class="chat-header">
                <span>Stream Chat</span>
            </div>

            <div id="chat-messages" class="chat-messages p-2">
                {% if messages|length == 0 %}
                    <span id="noMessagesText" class="chat-messages__empty-text">You can start to chat!</span>
                {% endif %}

                {% for message in messages %}
                    <div class="chat-message">
                        <span style='color: {{ message["sender_color"] }}' class="chat-message__sender">{{ message["sender"] }}:</span>
                        <span class="chat-message__text">{{ message["text"] }}</span>
                    </div>
                {% endfor %}
            </div>

            <form id="newMessageForm" class="chat-form m-2 mt-auto mb-3">
                <input type="text" class="form-control" placeholder="Send a message" id="newMessageInput" aria-describedby="New chat message" autocomplete="off">

                <div class="d-flex justify-content-space-between align-items-center">
                    <span class="chat-points ps-2">470 points</span>
                    <button id="send-message" type="submit" class="btn btn-primary-custom d-block ms-auto mt-2 chat-button p-1" disabled>
                        Chat
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/watch-sockets.js"></script>
    
{% endblock %}