.check-api-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#check-api {
    width: 132px;
    transition: background-color 1s border-color 1s;
}

#status-words {
    margin-top: 12px;
    height: 24px;
    color: var(--light-text);
    min-width: 312px;
}

#status-words span {
    transition: 1s;
    opacity: 0;
}