.stream-card {
    border: 0;
    background-color: transparent;
    color: var(--light-text);
    transition: 200ms;
}

.stream-card.inactive img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.stream-card.inactive span {
    color: var(--muted-text);
}

.stream-card .card-body {
    padding: 0;
}

.stream-card .card-text {
    color: var(--muted-text);
}

.stream-card .card-img-top {
    border-radius: 3px;
}

.stream-card:hover {
    transform: translate(8px, -8px);
}