.webcam-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
}

.webcam-video {
    margin-bottom: 12px;
    width: 100%;
    max-height: 900px;
    background-color: var(--bg-semi-dark);
}

.alerady-live-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.already-live {
    color: var(--live);
    margin-top: 12px;
}

a.available-channel:hover,
a.available-channel:focus {
    color: var(--primary-active);
}

.stream-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stream-controls__left {
    width: 200px;
}

.stream-controls__right {
    width: 200px;
    justify-content: flex-end;
}

.help-text {
    color: var(--muted-text);
}

.channel-name {
    line-height: 38px;
    color: var(--primary-active);
}