.webcam-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
}

.webcam-video {
    margin-bottom: 12px;
    width: 100%;
    max-height: 900px;
    background-color: var(--bg-semi-dark);
}

.already-live {
    display: block;
    text-align: center;
    color: var(--live);
    margin-bottom: 12px;
}

.stream-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}