.stream {
    width: 100%;
    border-bottom: 1px solid var(--border-base);
}

.stream-data__bg-avatar {
    width: 72px;
    min-width: 72px;
    height: 72px;
    border-radius: 72px;
    background-color: var(--accent);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stream-data__avatar {
    width: 69px;
    min-width: 69px;
    height: 69px;
    border-radius: 69px;
    border: 2px solid var(--bg-dark);
    background-color: var(--muted-text);
}

.stream-data__name {
    display: block;
    font-weight: 600;
    line-height: 20px;
    color: var(--light-text);
}

.stream-data__description {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    color: var(--light-text);
}

.stream-data__game {
    display: block;
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
}

video::-webkit-media-controls-timeline {
    display: none;
}

.stream-not-live {
    color: var(--accent);
}